
.idea
node_modules
package-lock.json
dmg-jsbot.iml
config.json.save
texttovcc.js
debug.js
j4u-tracker.js
stupidremover.js
/commands/logger.js
/commands/logging/
/commands-old/discordlog.db
/commands/warningHandler.js
commands/pricechecker/price-guide.csv
warnings.db
commands/playsound.js
commands/test.js
handlers/redditHandler.js.dis
/chatbot/
/dataset/
commands-old/logger.js.dis
discordlog.db
dmg.db
commands/admin.js
config-live.json
